<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Profesores</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="principal">
        <header>
            <div id="logo">
                <h2 class="titulo">Profesores</h2>
                <p class="sub-titulo">inicio de sesión</p>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/Profesores">Profesores</a></li>
                    <li><a href="/Alumnos">Alumnos</a></li>
                    <li><a href="/Cursos">Cursos</a></li>
                </ul>
            </nav>
        </header>

        <section id="slide">
            <img src="{{ url_for('static', filename='img/slide.jpg') }}" width="900" height="250">
        </section>

        <section id="categorias">
            <section id="formulario">
                <h2 class="titulo-contacto">Envíenos un mensaje</h2>
                <div id="form">
                    <form name="contacto" method="POST" action="/enviar_mensaje">
                        <label for="nombre">Nombre:</label><br>
                        <input type="text" name="nombre" placeholder="Ingrese su nombre" required><br>

                        <label for="apellido">Apellido:</label><br>
                        <input type="text" name="apellido" placeholder="Ingrese su apellido" required><br>

                        <label for="dni">DNI:</label><br>
                        <input type="text" name="dni" placeholder="Ingrese su Documento Nacional de Identidad" required><br>

                        <hr>
                        <input type="submit" name="enviar" value="Enviar" class="enviar">
                    </form>
                </div>
            </section>
        </section>

        <hr>
        <footer>
            <p>
                (c) Todos los derechos reservados - 2024 <br>
                Diseñado por <a href="">Karen</a>
            </p>
        </footer>
    </div>
</body>
</html>
